ShowCrasher-csharp.sln
ShowCrasher.sln
ShowCrasher.userprefs
Assets/Resources/Quinn and Valor.wav
Assets/Resources/Quinn and Valor.wav.meta
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Temp/
Library/
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
